body{
	background-image: url(../img/1.jpg);
	-webkit-background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.david{
	height:80px;
	background-color:#B47263;

}
            

h1{
     color:#FFFFFF;
     font-family: "Rammetto One", cursive;
     font-size:25px;

}
.ty{
	height:100%;
}
.pad{
	padding:5%;
}



.centrado{
	display:flex;
	align-content:center;
	align-items:center;
	justify-content:center;
}
.nd{
	border:3px solid black;
	height: 250px;
	width: 250px;
}
            

